@font-face {
  font-family: 'iconfont';
  src:
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
 
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e603";
}
.icon-dingwei:before {
  content: "\e604";
}
.icon-guanbi:before {
  content: "\e600";
}
.icon-gouwuche:before {
  content: "\e607";
}
.icon-jiantou-s-r:before {
  content: "\e601";
}
.icon-zuojiantou:before {
  content: "\e602";
}
.icon-shangjiantou:before {
  content: "\e606";
}
.icon-xiajiantou:before {
  content: "\e605";
}
.icon-app:before {
  content: "\e608";
}
.icon-cart:before {
  content: "\e609";
}
.icon-shouye-1:before {
  content: "\e60a";
}
.icon-daohanglan-05:before {
  content: "\e639";
}
.icon-fenlei:before {
  content: "\e635";
}
.icon-dianhua:before {
  content: "\e6f9";
}
.icon-hunli-:before {
  content: "\e7ee";
}
.icon-fangdajing:before {
  content: "\e60b";
}
.icon-gouwuche1:before {
  content: "\e60c";
}
.icon-jiantou:before {
  content: "\e60d";
}
.icon-xiangji:before {
  content: "\e60e";
}
.icon-shangjiantou1:before {
  content: "\e60f";
}
.icon-xiajiantou1:before {
  content: "\e610";
}
.icon-zuojiantou1:before {
  content: "\e611";
}
